@model IEnumerable<Zadnji_Ispit.Models.Poklon>


<h2>Pokloni koji nisu kupljeni</h2>

<p>
    @Html.ActionLink("Svi pokloni", "ListaPoklona")
    @Html.ActionLink("Dodaj poklon", "DodajPoklon")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cijena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kupljeno)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cijena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kupljeno)
        </td>
        <td>
            @Html.ActionLink("Uredi", "UrediPoklon", new { id=item.Id }) |
            @Html.ActionLink("Obrisi", "Obrisi", new { id=item.Id })
        </td>
    </tr>
}

</table>

